{% extends 'base.html' %} {% load bootstrap4 %} {% block title %}Patient Login{% endblock %} {% block content %}
<div class="container">

<div class="row">
    <div class="col-md-7 col-xl-7 col-lg-7 col-xs-12"></div>

  <div class="col-md-3 col-lg-5 col-xs-12 col-xl-3">
      <div class="card border-success"
      style="width:23rem;padding-left:20px;padding-right:20px; margin-top:15px;">
          <div class="card-block">
          <p class="card-text">
          <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="font-size:14px">
                  <li class="nav-item">
                    <a  @click="show = !show" class="nav-link active text-left" data-toggle="tab" href="#login" role="tab">Login</a>
                  </li>
                  <li class="nav-item">
                    <a @click="show = !show" class="nav-link text-left" data-toggle="tab" href="#register" role="tab">Register</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="login" role="tabpanel">
                    <transition
                        name="custom-classes-transition"
                        enter-active-class="animated tada"
                        leave-active-class="animated bounceOutRight">
                      <form v-if="show" method="post" class="form form-horizontal" action="/auth/login/">
                          {% csrf_token %} {% bootstrap_form form layout='inline'%} {% buttons %}
                          <button type="submit" class="btn btn-outline-success btn-sm">
                               Login
                          </button>

                          {% endbuttons %}
                      </form>
                    </transition>
                  </div>
                  <div class="tab-pane" id="register" role="tabpanel">
                      <form method="post" class="form form-horizontal" action="/auth/register/">
                          {% csrf_token %} {% bootstrap_form signup_form layout='inline'%}
                          <button type="submit" class="btn btn-outline-success btn-sm">Sign Up</button>
                      </form>
                  </div>
                </div>
           </p>
          </div>
        </div>
    </div>
  </div>

{% endblock %}


</style>
