{% extends 'base.html' %} {% load bootstrap4 %} {% block title %}Patient Login{% endblock %} {% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <img src="/static/images/pic01.png"></img>
    </div>

    <div style="margin-top: 100px;" class="col-md-6">
  <h2>Hello! {% if error %}
  <div class="alert alert-danger"> {{error}} </div>
  {% endif %}
  <div class="col-md-8">
      <form method="post">
          {% csrf_token %} {% bootstrap_form form %} {% buttons %}
          <button type="submit" class="btn btn-primary">
               Submit
          </button>
          <a href="/auth/register/" class="btn btn-primary"> Signup </a> {% endbuttons %}
      </form>
    </div>
  </div>

  </div>
</div>
{% endblock %}


</style>
