

<div id="accordion" role="tablist">

{% for h in history %}


<div class="card border-success diag-card">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Visited Doctor {{h.doctor_id.fullname}} on <span class="pull-right">{{h.visit_date}} </span>
    </a>
    <span class="pull-right"> Status : {% if h.is_open%}Open {% else %} Closed {% endif %} </span>
  </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Symptoms : {{h.symptoms.doctor_reported_symptoms}}
            <br />
            <br />
            Disease (if any diagonized):
            <br />
            <br />
            Medicines Suggested :
            <br />
            <br />
            <table class="table" id="medicine_list">
                <thead>
                    <tr>
                        <th style="width:40%"> Medicine Name </th>
                        <th style="width:10%"> Dosage </th>
                        <th style="width:10%"> End Date </th>
                        <th style="width:10%"> Consume </th>
                    </tr>
                </thead>
                <tbody>
                    {% for medicine in h.medicines.all %}
                    <tr>
                        <th>
                            {{medicine.medicine_name}}
                        </th>
                        <th>
                            {{medicine.dosage}}
                        </th>
                        <th>
                            {{medicine.end_date}}
                        </th>
                        <th>
                            {{medicine.cycle}}
                        </th>
                    </tr>
                    {% endfor %}
            </table>

            DCM Images (If any):
            {% for image in h.dcmimages.all %}
                <img src="/media/{{image.pic}}"/>
            {% endfor %}
        </div>
    </div>
</div>

{% endfor %}
</div>
