<div class="row">
    <div class="col-md-offset-1 col-lg-offset-1">
        &nbsp;
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="card border-success diag-card">
            <h4 class="card-header">Allergies</h4>
            <div class="card-body">
                <textarea id="patient_allergies" class="form-control">{{event.allergies.strip}}</textarea>
            </div>
        </div>
    </div>
    <div class="card diag-card-right col-md-6 col-lg-7">
        <h4>List of previous allergies:<h4>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-lg-offset-1">
        &nbsp;
    </div>
    <div class="col-md-4 col-lg-4 border-success">
        <div class="card border-success diag-card">
            <h4 class="card-header">Doctor's note </h4>(not visible to patients)
            <div class="card-body">
                <textarea id="doctor_notes" class="form-control">{{event.event_doctor_notes.strip}}</textarea>
            </div>
        </div>
    </div>
    <div class="card diag-card-right col-md-6 col-lg-7">
        <h4>Something here</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-lg-offset-1">
        &nbsp;
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="card border-success diag-card">
            <h4 class="card-header">Clinical advice</h4>
            <div class="card-body">
                <textarea id="doctor_clinical_advice" class="form-control">{{event.event_doctor_clinical_advice.strip}}</textarea>
            </div>
        </div>
    </div>
    <div class="card diag-card-right col-md-6 col-lg-7">
      <h4>Something here</h4>
    </div>
</div>
