<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Atom360">
    <title>Atom360 HMS</title>
    {% include 'navbar.html' %}
  </head>
  {% load static %}

  {# Load the tag library #}
  {% load bootstrap4 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
  <link href="{% static "/css/bootstrap.min.css"%}" rel="stylesheet"> </link>
  <link href="{% static "/css/bootstrap_override.css"%}" rel="stylesheet"> </link>
  <link href="{% static "/css/bootstrap-datepicker.min.css"%}" rel="stylesheet"> </link>
  <link href="{% static "/css/jquery.seat-charts.css"%}" rel="stylesheet"> </link>
  <link href="{% static "/css/atom360.css"%}" rel="stylesheet"> </link>

  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <script src="{% static "/js/bootstrap-datepicker.min.js"%}"></script>
  <script src="{% static "/js/jquery.seat-charts.min.js"%}"></script>

  <script>
    $('.datepicker-today').datepicker({
        format: 'dd/mm/yyyy',
        startDate: '0',
        autoclose: true,
        orientation: "bottom",
    });
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        orientation: "bottom",
    });

    $('.datetimepicker').datepicker({
        format: 'mm/dd/yyyy',
    });


  </script>
  {% block script%}
  {% endblock %}
  {%block pagescss%}
  {% endblock %}

</html>
