<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Atom360">

    <title>Atom360 MRMS</title>
</head>
{% load static %}
<script src="{% static "/js/jquery-3.2.1.min.js"%}"></script>

{# Load the tag library #} {% load bootstrap4 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}
<link href="{% static "/css/bootstrap_override.css"%}" rel="stylesheet">
<link href="{% static "/css/bootstrap-datepicker.min.css"%}" rel="stylesheet">
<link href="{% static "/css/jquery.seat-charts.css"%}" rel="stylesheet">
<link href="{% static "/css/atom360.css"%}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/kt-2.3.2/r-2.2.1/sc-1.4.3/datatables.min.css"/>
<link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">

<body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>
</body>
<script src="{% static "/js/bootstrap-datepicker.min.js"%}"></script>
<script src="{% static "/js/jquery.seat-charts.min.js"%}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/kt-2.3.2/r-2.2.1/sc-1.4.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.common.js"></script>

<script>
    $('.datepicker-today').datepicker({
        format: 'dd/mm/yyyy',
        startDate: '0',
        autoclose: true,
        orientation: "bottom",
    });
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        orientation: "bottom",
    });

    $('.datetimepicker').datepicker({
        format: 'mm/dd/yyyy',
    });
    $('.datatable').DataTable({"bLengthChange": false, "responsive": true});
</script>
{% block script%} {% endblock %} {%block pagescss%} {% endblock %}

</html>
