{%load static%} {% include 'base.html'%} {% block content %} {% if error %} {{error}} {% endif %}
<div class="container">
  <div clas="row">
<form method="POST" action="{% url 'find_patient'%}">

    <div class="find-patient is-responsive">
        {% csrf_token %}
        <div class="form-group">
            <h3>Enter patient's UserID or Mobile Number.</h3>
            <label class="sr-only" for="username">Username</label>
            <div class="input-group">

                <input type="text" name="mobile_number" class="form-control" value="{{username}}" id="username" placeholder="Mobile number">
            </div>
        </div>
        <div class="form-group form-control-md mx-sm-5">
            <button type="submit" class="btn btn-primary"> Find Patient </button>
        </div>
</form>
</div>
</div>
{% if patient %}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <table class="table table-dark">
            <tbody>
                <tr>
                    <td id="patient_name">{{patient.first_name|default_if_none:"Patient Name Unknown"}}</td>
                    <td id="patient_age"></td>
                    <td id="patient_gender">{{patient.gender}}</td>
                    <td><a href="{% url 'event_details' username=patient.username %}">View Patient Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

{% elif error %}

<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>

{% endif %} {% endblock %} {%block pagescss%}
<link href="{% static " /css/atom360.css "%}" rel="stylesheet"> </link>

{% endblock %}
