{%load static%} {% include 'base.html'%} {% block content %}
<div class="container">
  <div clas="row">
    <form method="POST" action="{% url 'find_patient'%}">
        <div class="find-patient is-responsive animated fadeIn">
            {% csrf_token %}
            <div class="form-group">
                <h3 class="text-center">Enter patient's Mobile Number</h3>
                <label class="sr-only" for="username">Username</label>
                <div class="input-group">

                    <input type="text" name="mobile_number" class="form-control" value="{{username}}" id="username" placeholder="Mobile number">
                </div>
            </div>
            <div class="form-group form-control-md mx-sm-5">
                <button type="submit" class="btn btn-outline-success" style="margin-left:35%"> Find Patient </button>
            </div>
          </div>
    </form>

</div>
{% if patient %}
<div class="card card-find">
  <div class="card-body">
    <h3 class="card-title">Patient Found</h3>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <table class="table">
            <tbody>
                <tr>
                    <td id="patient_name">{{patient.fullname|default_if_none:"Patient Name Unknown"}}</td>
                    <td id="patient_age"></td>
                    <td id="patient_username">{{patient.username}}</td>
                    <td><a id="view-link" href="{% url 'event_details' username=patient.username %}">View Patient Details<span class="glyphicon glyphicon-user"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>

{% elif error %}

<div class="alert alert-danger" role="alert">
  {{error}}
</div>

{% endif %} {% endblock %} {%block pagescss%}
<link href="{% static " /css/atom360.css "%}" rel="stylesheet"> </link>

{% endblock %}
