{% extends 'base.html' %}
 {% load bootstrap4 %}

{% block content %}
<div class="row" style="margin-top:25px;">
    <div class="col-md-9 col-lg-9">
        <table class="datatable" class="display">
            <thead>
                <td> Billing Component </td>
                <td> Billing Type </td>
                <td> Cost </td>
                <td> </td>
            </thead>
            <tbody>
                {% for cost in costs %}
                <tr>
                    <td>{{cost.billing_component}} </td>
                    <td>{{cost.component_type|title}} </td>
                    <td>{{cost.component_cost}} </td>
                    <td>
                        <form method="POST" action=".">
                           {% csrf_token %}
                           <input type="text" style="display:none" value="{{cost.id}}" name="cost_id" />
                           <input type="text" style="display:none" value="delete" name="action" />
                           <button class="btn btn-danger">Delete</button>
                       </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3 col-lg-3">
        <form method="POST" action=".">
            {% csrf_token %}
            {% bootstrap_form billingform %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Add Cost</button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% endblock %}
