{% extends 'base.html' %}
 {% load bootstrap4 %}

{% block content %}
<div class="row">
  <!-- leftside -->
  <div id="left" class="col-md-3 col-lg-3">
      <form method="POST" action=".">
          {% csrf_token %}
          {% bootstrap_form billingform %}
          {% buttons %}
              <button type="submit" class="btn btn-outline-success">Add Cost</button>
          {% endbuttons %}
      </form>
  </div>
  <!-- rightside -->
    <div class="col-md-9 col-lg-9">
      <h3 class="card-title">Costs Management</h3>
        <div class="card-right card border-success mb-3">
        <table width="100%" cellspacing="0" class="datatable display table">
            <thead>
                <td> Billing Component </td>
                <td> Billing Type </td>
                <td> Cost </td>
                <td> </td>
            </thead>
            <tbody>
                {% for cost in costs %}
                <tr>
                    <td>{{cost.billing_component}} </td>
                    <td>{{cost.component_type|title}} </td>
                    <td>{{cost.component_cost}} </td>
                    <td>
                        <form method="POST" action=".">
                           {% csrf_token %}
                           <input type="text" style="display:none" value="{{cost.id}}" name="cost_id" />
                           <input type="text" style="display:none" value="delete" name="action" />
                           <button class="btn btn-outline-danger ">Delete</button>
                       </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>

    <!--row end -->
</div>

{% endblock %}
