{% extends 'base.html' %}
 {% load bootstrap4 %}

{% block content %}

    <form method="POST" action=".">
        {% csrf_token %}
        {% bootstrap_form billingform %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Add Cost</button>
        {% endbuttons %}
    </form>

    <table class="datatable" class="display">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>

    <p>
    Mandatory Costs

    {% for cost in mandatory_costs %}
        {{cost.billing_component}}
        {{cost.component_cost}}
        <form method="POST" action=".">
            {% csrf_token %}
            <input type="text" style="display:none" value="{{cost.id}}" name="cost_id" />
            <input type="text" style="display:none" value="delete" name="action" />
            <button class="btn btn-danger">Delete</button>
        </form>
    {% endfor %}
</p>
<p>
    OneTime Costs

    {% for cost in onetime_costs %}
        {{cost.billing_component}}
        {{cost.component_cost}}
    {% endfor %}
</p>
<p>
    Optional Costs

    {% for cost in optional_costs %}
        {{cost.billing_component}}
        {{cost.component_cost}}
    {% endfor %}
</p>
{% endblock %}
